ul {
    list-style: none;
    padding-left: 0;
}

.centered-content {
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.tabs {
    display: flex;
    user-select: none;
    border-top: solid black 1px;
    border-left: solid black 1px;
    border-right: solid black 1px;
}

.tabs-title {
    padding: 20px;
    background-color: #575656;
    color: white;
}

.tabs-title.active {
    background-color: #666666;
    color: white;
}

.tabs-content > li {
    display: none;
}

.active-now {
    display: flex !important;
    background-color: #666666;
    color: white;
    margin-top: -32px;
    width: 421px;
    border-top: solid black 1px;
    border-left: solid black 1px;
    border-right: solid black 1px;
}

